@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

html { box-sizing: border-box;
}
*, *::before, *::after {
box-sizing: inherit;
}    

body {
    background-color: rgb(249, 250, 233);
    font-family: 'Dancing Script', Times, serif ;
    font-size: 40px;
    color: rgb(172, 72, 172);
  }

.nav {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.hero-area {
	display: grid;
	grid-column: auto;
}

#hero-image, #hero-p {
	grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
  border-radius: 100%;
  opacity: 0.8;
  width: 70%;
}

#hero-p {
  color: black ;
	font-size: 60px;
  font-weight: bold;
  text-align: center;
}

a {
  color: rgb(172, 72, 172);
}

.h1 {
    color: rgb(172, 72, 172);
    font-size: 50px;
    font-weight: bold;
}

div { 
    color: black;
    padding: 50px;
    font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  } 

.grid-item {
    border: 1px none black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

.image {
    border-radius: 40%;
    width: 100%;
  }
  
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.grid-item2 {
    color: black ;
    font-size: 30px;
    text-align: center;
    padding: none;
  }

.image2 {
    border-radius: 20%;
    width: 75%
  }